
p, li, input, textarea {
  font-family: "Forum", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
}
ul {
    margin-top: 15px;
    margin-bottom: 15px;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-size: 3em;
  font-weight: 500;
  font-style: normal;
  padding-top: 15px;
  padding-bottom: 20px;
}
h2 {
  font-family: "Forum", serif;
  font-optical-sizing: auto;
  font-size: 1.6em;
  font-weight: 500;
  font-style: normal;
  padding-bottom: 15px;
}
h3 {
  font-family: "Forum", serif;
  font-optical-sizing: auto;
  font-size: 2em;
  font-weight: 500;
  padding-bottom: 10px;
}

* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
.container {
    background-color: #34b8e6;
}
.content {
    text-align: center;
    color: white;
    padding: 25px;
}
.contentwit {
    text-align: center;
    color: #34b8e6;
    background-color: white;
    padding: 25px;
}
img {
    display: block;
}
a, a:hover, a:visited {
    color: #34b8e6;
    text-decoration: none;
}
.topline {
    background-color: white;
    text-align: center;
    color: #34b8e6;
    margin: 15px;
}
.toplinegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.topitem {
    /* padding: 15px; */
    color: #34b8e6
}
.highlight {
    font-size: 1.4em;
}
.highlight a {
    color: #34b8e6;
}
.header {
    background-image: url("./assets/Sunrise_cropped.jpg");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo {
    width: 50vw;
    text-align: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.64);
}

.twocolumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.column {
    justify-content: center;
    margin: auto;
    color: white;
}
.columntext {
    justify-content: center;
    margin: auto;
    color: white;
    padding: 25px;
    text-align: center;
}
ul {
    list-style-position: inside;
}
.picture img {
    width: 100%;
    height: auto;
    margin: auto;
}
.picture {
    text-align: center;
    margin: auto;
}
input, button, textarea {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    border: 1px solid #34b8e6;
    border-radius: 5px;
}
label {
    text-align: left;
}
textarea {
    height: 150px;
}
.contact {
    text-align: center;
    margin: auto;
    width: 60vw;
    margin-top: 35px;
    margin-bottom: 100px;
    color: #34b8e6;
}
button {
    border: none;
    padding: 15px;
    background-color: #34b8e6;
    cursor: pointer;
    border: 1px solid #34b8e6;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
}
.page-footer {
    text-align: center;
    background-color: #34b8e6;
    color: white;
    padding: 15px;
}

@media only screen and (max-width: 900px) {
.twocolumns {
    grid-template-columns: 1fr;
}
.contact {
    width: 90vw;
        margin-bottom: 25px;
}
.toplinegrid {
    display: grid;
    grid-template-columns: 1fr;
}
}